
 .card {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .card h2 {
    font-size: 14px;
  }
  
  .card button {
    margin-top: 50px;
    padding: 10px 50px;
    border: 2px solid #1DB954;;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    background: #1DB954;
  }

  .card button:hover {
    background: #1DB954;
    color: white;
    transition: 0.5s;
  }
  
  .card img {
    width: 250px;
    overflow: hidden;
    border-radius: 5px;
  }

  .cardText {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  
  .TrackSection {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
   
  }