.myform {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
}

.myform textarea {
    margin: 10px 15px;
    width: 320px;
    height: 100px;
    border: 2px solid #1DB954;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    background: #FFF;
  }

  .myform label {
    font-weight: bold;
    font-size: 16px;
    color: #FFF;
  }

  .myform input {
    margin: 10px 15px;
    padding: 8px 100px 8px 10px;
    background: #1DB954;
    border: 2px solid #1DB954;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    background: #FFF;
  }

  .myform button {
    margin: 10px 20px;
    width: 320px;
    height: 50px;
    border: 2px solid #1DB954;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    background: #1DB954;
  }

  .myform button:hover {
    color: white;
    transition: 0.5s;
  }

  .myform textarea {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
  }

  .myform h1{
    color: #FFF;
  }