.searchSection {
  margin-bottom: 50px;
}

.searchSection h1 {
  color: #FFF;
}
.searchSection input {
  margin: 10px 15px;
  padding: 8px 100px 8px 10px;
  border: 2px solid #1DB954;;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  background: #FFF;
}

.searchSection
 button {
  margin: 10px 25px;
  padding: 10px 100px;
  border: 2px solid #1DB954;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
  background: #1DB954;
}

.searchSection button:hover {
  background: #1DB954;;
  color: white;
  transition: 0.5s;
}

  