div.card {
  width: 300px;
  display: flex;
  border: 3px solid black;
  border-radius: 10px;
  flex-direction: column;
}

div.Container {
  border: 100px solid red;
}

h2 {
  font-size: 14px;
}

button {
  margin: 10px 25px;
  padding: 10px 100px;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  background: transparent;
}

input {
  margin: 10px 15px;
  padding: 8px 200px 8px 10px;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  background: transparent;
}

h2, h3{
  margin-left: 10px;
}

button:hover {
  background: Black;
  color: white;
  transition: 0.5s;
}

img {
  overflow: hidden;
  border-radius: 10px;
}

.card {
  margin: 10px 20px 20px 20px;
}